<%= form_for(location) do |f| %>
  <div class="row form-group">
    <div class="col-md-6">
      <%= f.label :address %>
      <%= text_field_tag 'location[result_string]', nil, class: "controls form-control input-large", id: "pac-input", placeholder: 'Start typing...' %>
      <%= f.hidden_field :place_id  %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :Search, class: 'btn btn-primary' %>
  </div>

  <br/>
<% end %>
